<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Squash app - admin page</title>
</head>
<body>
	<h2 th:text="'Admin: ' + ${loggedInUser.playerName}"></h2>
	<a href="/logout"><button>Log out</button></a>
	<a href="/"><button>Go to the index page</button></a>
	
	<p th:text="${message}"></p>
	
	<hr style="width:40%;text-align:left;margin-left:0"/>
	
	<p>Register a new player</p>
	<form action="/admin/reg/player" method="post">
			<label for="newplayer">Email address:</label>
		<input type="email" id="newplayeremail" name="newemail" required />
		
			<label for="newplayername">Player name:</label>
		<input type="text" id="newplayername" name="newname" required />
		
		<select name="newrole">			
			<option value="1">Admin</option>
			<option value="2" selected>Player</option>
		</select>
		<br/>	
		<input type="submit" value="Register"></input>
	</form>
	
	<hr style="width:40%;text-align:left;margin-left:0"/>
	
	<p>Register a new place</p>
	<form action="/admin/reg/place" method="post">
			<label for="newplacename">Name:</label>
		<input type="text" id="newplacename" name="newpname" required />

					<label for="newplaceaddress">Address:</label>
		<input type="text" id="newplaceaddress" name="newpaddress" required />

					<label for="newplacerentfee">Rent fee per hour (HUF):</label>
		<input type="number" id="newplacerentfee" name="newpfee" required />

		<br/>		
		<input type="submit" value="Register"></input>
	</form>
	
	<hr style="width:40%;text-align:left;margin-left:0"/>
	
	<p>Add a new match</p>
	<form action="/admin/reg/match" method="post" th:object="${matchdto}">
			<label for="matchdate">Date:</label>
		<input type="date" id="matchdate" name="date" required th:field="*{date}"/>
		
			<label for="matchplace">Place:</label>
		<select name="placeid" id="matchplace" th:field="*{placeId}">
			<option th:each="place : ${placesList}" th:text="${place.placeName} + ' (' + ${place.address} + ')'" th:value="${place.id}"></option>
		</select>
		<br/>	
		
			<label for="player1">Player 1:</label>
		<select name="player1_email" id="player1" th:field="*{player1Email}">
			<option th:each="player : ${playersList}" th:text="${player.playerName}" th:value="${player.email}"></option>
		</select>
			
			<label for="p1score">P1 Score:</label>
		<input type="number" id="p1score" name="player1_score" required th:field="*{player1Score}"/>
		<br/>	
		
			<label for="player2">Player 2:</label>
		<select name="player2_email" id="player2" th:field="*{player2Email}">
			<option th:each="player : ${playersList}" th:text="${player.playerName}" th:value="${player.email}"></option>
		</select>
		
			<label for="p2score">P2 Score:</label>
		<input type="number" id="p2score" name="player2_score" required th:field="*{player2Score}"/>
		
		<br/>		
		<input type="submit" value="Add Match"></input>
	</form>
	
	<a href="/"><button>Return to Main</button></a>
</body>
</html>